* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  position: relative;
  background: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 2.5vw;
}
.toggle-btn {
  width: 20px;
  height: 10px;
  position: relative;
  cursor: pointer;
}
.toggle-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background: #979797;
}
.toggle-btn span:nth-child(1) {
  top: 0;
}
.toggle-btn span:nth-child(3) {
  top: 100%;
}
.logo {
  /* height: 64px;
    margin: -1px 14px ; */
  height: 62px;
  margin: -1px 7px;
  width: 94px;
}
.search-box {
  position: relative;
  display: flex;
  width: 50%;
  max-width: 500px;
  height: 32px;
  margin: 10px;
}
img {
  height: 35px;
  width: 35px;
}
.search-bar {
  width: 85%;
  height: 100%;
  padding: 0 20px;
  border: 2px solid gray;
  font-size: 16px;
  text-transform: capitalize;
}
.search-btn {
  width: 15%;
  height: 100%;
  border: 2px solid gray;
  border-left: none;
}
.search-btn img {
  height: 100%;
  padding: 4px;
}
.user-options {
  height: 35px;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.user-options .icon {
  height: 80%;
  margin-right: auto;
  cursor: pointer;
  /* padding: 5px; */
  margin: 5px;
}
.side-bar {
  position: fixed;
  max-width: 250px;
  background: white;
  height: 120%;
  top: 60px;
  left: 0;
  padding-right: 10px;
  width: 250px;
}
.links,
.link-active {
  display: block;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  font-size: 15;
  font-weight: 500;
  margin: 5px;
  color: rgb(58, 56, 56);
}
.links img,
.link-active img {
  height: 25px;
  margin-right: 20px;
}
.links:hover,
.link-active {
  background: rgb(238, 236, 236);
}
.separtor {
  border: none;
  border-bottom: 2px solid rgb(238, 236, 236);
  margin: 15px;
}
.filters {
  position: fixed;
  left: 250px;
  top: 60px;
  height: 75px;
  align-items: center;
  background: white;
  width: calc(100% -250px);
  padding: 0 20px;
  display: flex;
  border-top: 1px solid whitesmoke;
  overflow-x: auto;
}
.filter-options {
  margin: 10px;
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  background: rgb(197, 196, 196);
  margin-right: 10px;
  text-transform: capitalize;
  font-weight: 400;
  color: black;
  cursor: pointer;
  border: 1px solid gray;
}
.filters::-webkit-scrollbar {
  display: none;
}
.filter-options.active{
  color: white;
  background: gray;
}
.video-container{
  width: calc(100% -250px);
  margin-top: 120px;
  margin-left: 250px;
  padding: 20px;
  /* display: grid; */
  grid-template-columns: repeat (4,25% );
  grid-gap: 10px 5px;
  overflow-x: hidden;
}
.video{
  min-height: 250px;
  height: auto;
  width: 30%;
}
.thumbnail{
  width: 100%;
  height: 150px;
  object-fit: cover;  
}
.content{
  width: 100%;
  display: inline-block;
  height: 100px;
  padding: 10px;
  /* display: flex; */
  justify-content: space-around;
}
.channel-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}